* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

#main {
    width: 100%;
    height: auto;
    min-height: 100%;

    display: grid;
    place-items: center;

    font-size: 2em;

    background-color: black;;
}

#button {
    background-image: linear-gradient(60deg, #279af3, #70baba, #81dc7d, #7bff10);
    color: white;

    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

    padding: 1em;
    margin: 2em;

    border-radius: 500em;

    cursor: pointer;
    user-select: none;

    overflow: hidden;

    position: relative;
}

#ripple {
    background-color: white;
    opacity: 0;

    font-size: 1em;

    width: 20em;
    height: 20em;
    border-radius: 500em;

    position: absolute;

    animation: ripple 0.5s linear;

    transition: all 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}